.week {
  position: relative;
  overflow: hidden;
  max-width: 1568px;
}

.day {
  display: block;
  float:left;
  margin: 2px;
  width: 200px;
  overflow: hidden;
}

.day h4 {
  white-space: nowrap;
  margin-top: 0;
  color: #ccc;
}

.square-bg {
  stroke-width: 2px;
  stroke: #fff;
}

.axis {
  stroke: #ddd;
}

.axis-text {
  font-size: 10px;
  text-anchor: middle;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 300ms;
}

.day:hover .axis-text {
  opacity: 1;
}

.legend {
  position: absolute;
  top: 20px;
  right: 20px;
}